@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-upper-container {
        display: flex;
        flex-direction: column; /* Stack contact info vertically */
        gap: 0.5rem; /* Add space between items */
      }
      .contact-info-container {
        margin: 1rem 0; /* Add margin for spacing */
        padding : 0.5rem; 
        align-items: center; /* Center align the icon and text */
        display: flex;
        flex-direction: row; /* Change to column if you want icon above text */
      }
      .contact-info-container img {
        margin-right: 0.5rem; /* Add some space between icon and text */
        width: 2rem; /* Adjust icon size */
        height: 2rem; /* Adjust icon size */
      }
      .contact-info-container p,
      .nav-links li a {
        font-size: 1rem; /* Adjust font size for space */
        line-height: 1.4; /* Increase line height for readability */
      }
      .nav-links {
        margin-bottom: 1rem; /* Add space below the navigation links */
      }
      .section__pic-container {
        margin-bottom: 2rem; /* Add space below your image container */
      }

    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  }
  